.cardContainer {
    background-color: #fff;
    padding: 8px;
    margin-top:20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btnStatus {
    background-color: green;
    color: white;
    padding: 6px;
    border-radius: 20px;

}